$dark-gray-blue: hsl(217, 19%, 35%);
$dark-blue: hsl(214, 17%, 51%);
$gray-blue: hsl(212, 23%, 69%);
$light-gray-blue: hsl(210, 46%, 95%);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Manrope', sans-serif;
	font-size: 1.3rem;
	background-color: $light-gray-blue;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	color: $dark-gray-blue;
	font-size: 1.6rem;
}

.text {
	padding: 0px 32px 20px 32px;
	line-height: 1.5;
}

.article {
	width: 330px;

	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;

	&__image {
		height: 200px;

		.image {
			width: 100%;
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		.title {
			margin-bottom: 15px;
			padding: 35px 32px 0px 32px;
		}

		.text {
			color: $dark-blue;
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 32px;
		transition: background-color 1s;

		.social-share {
			display: none;
		}

		&.active {
			background-color: $dark-gray-blue;
			.profile {
				display: none;
			}
			.social-share {
				display: flex;
			}
			.share {
				background-color: $dark-blue;
				svg {
					color: #fff;
				}
			}
		}
	}
}

.profile {
	display: flex;
	&__avatar {
		.avatar {
			border-radius: 50%;
			width: 40px;
		}
	}
	&__datas {
		padding: 0px 15px;
		.name {
			color: $dark-gray-blue;
			font-weight: bold;
			margin-bottom: 2px;
		}

		.date {
			color: $gray-blue;
		}
	}
}

.share {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: $light-gray-blue;
	cursor: pointer;

	svg {
		color: #6e8098;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.social-share {
	display: flex;
	align-items: center;
	padding: 12px 0;
	&__text {
		letter-spacing: 4px;
		color: $gray-blue;
	}

	&__platforms {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 8px;

		.icon {
			display: flex;
			align-items: center;
			color: #fff;
			margin: auto 8px;
		}
	}
}

.icon {
	cursor: pointer;
}

//     ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px
